body {
  background-image: url("https://images.pexels.com/photos/3970330/pexels-photo-3970330.jpeg?cs=srgb&dl=pexels-markus-spiske-3970330.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
