 body {
   background-color: #000;
   /*  background-image: url("https://images.pexels.com/photos/3970330/pexels-photo-3970330.jpeg?cs=srgb&dl=pexels-markus-spiske-3970330.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover; */
 }

 .label-text label,
 select {
   color: #ffffff;
 }

 #myTable_info,
 #myTable_previous {
   color: #ffffff;
 }

 #myTable_paginate span a {
   background-color: #9c9c9c;
   border-color: #ffd000;
 }


 /* loader */
 .loader {
   color: rgb(255, 205, 86);
   position: relative;
   display: inline-block;
   margin-top: 40px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 48px;
   letter-spacing: 4px;
   box-sizing: border-box;
 }

 .loader::before {
   content: '';
   position: absolute;
   right: 70.1px;
   bottom: 20px;
   height: 26px;
   width: 5.17px;
   background: currentColor;
   box-sizing: border-box;
   animation: animloader1 1s linear infinite alternate;
 }

 .loader::after {
   content: '';
   width: 10px;
   height: 10px;
   position: absolute;
   left: 125px;
   top: 2px;
   border-radius: 50%;
   background: rgb(75, 192, 192);
   box-sizing: border-box;
   animation: animloader 1s linear infinite alternate;
 }

 @keyframes animloader {
   0% {
     transform: translate(0px, 0px) scaleX(1);
   }

   14% {
     transform: translate(-12px, -16px) scaleX(1.05);
   }

   28% {
     transform: translate(-27px, -28px) scaleX(1.07);
   }

   42% {
     transform: translate(-46px, -35px) scaleX(1.1);
   }

   57% {
     transform: translate(-70px, -37px) scaleX(1.1);
   }

   71% {
     transform: translate(-94px, -32px) scaleX(1.07);
   }

   85% {
     transform: translate(-111px, -22px) scaleX(1.05);
   }

   100% {
     transform: translate(-125px, -9px) scaleX(1);
   }
 }

 @keyframes animloader1 {
   0% {
     box-shadow: 0 -6px, -122.9px -12px;
   }

   25%,
   75% {
     box-shadow: 0 -0px, -122.9px -12px;
   }

   100% {
     box-shadow: 0 -0px, -122.9px -24px;
   }
 }